@model HomeVM

<section class="home-slide d-flex align-items-center">
    <div class="container">
        @foreach(Slide item in Model.Slides)
        {
            <div class="row ">
                <div class="col-md-7">
                    <div class="home-slide-face aos" data-aos="fade-up">
                        <div class="home-slide-text ">
                            <h5>@item.Title</h5>
                            <h1>@item.SupTitle</h1>
                            <p>@item.Description</p>
                        </div>
                        @await Component.InvokeAsync("SearchBar")
                        <div class="trust-user">
                            <p>@item.StartContent<br>@item.EndContent</p>
                            <div class="trust-rating d-flex align-items-center">
                                <div class="rate-head">
                                     <h2><span>@item.AverageRateing</span>+</h2>
                                </div>
                                <div class="rating d-flex align-items-center">
                                   <h2 class="d-inline-block average-rating">@item.Rating</h2>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 d-flex align-items-center">
                    <div class="girl-slide-img aos" data-aos="fade-up">
                         <img src="~/assets/img/@item.ImageName" alt="">
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<section class="section student-course">
    <div class="container">
        <div class="course-widget">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="course-full-width">
                        <div class="blur-border course-radius align-items-center aos" data-aos="fade-up">
                            <div class="online-course d-flex align-items-center">
                                <div class="course-img">
                                    <img src="~/assets/img/cources-icon.svg" alt="image" width="100">
                                </div>
                                <div class="course-inner-content">
                                    <h4><span>@Model.Courses.Count</span></h4>
                                    <p>Online Courses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="course-full-width">
                        <div class="blur-border course-radius align-items-center aos" data-aos="fade-up">
                            <div class="online-course d-flex align-items-center">
                                <div class="course-img">
                                    <img src="~/assets/img/gratuate-icon.svg" alt="image" width="100">
                                </div>
                                <div class="course-inner-content">
                                    <h4><span>@Model.Students.Count</span></h4>
                                    <p>Online Students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                  <div class="col-lg-3 col-md-6">
                    <div class="course-full-width">
                        <div class="blur-border course-radius align-items-center aos" data-aos="fade-up">
                            <div class="online-course d-flex align-items-center">
                                <div class="course-img">
                                    <img src="~/assets/img/cources-icon.svg" alt="image" width="100">
                                </div>
                                <div class="course-inner-content">
                                    <h4><span>@Model.Instructors.Count</span></h4>
                                    <p>Online Instructors</p>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>

<section class="section how-it-works">
    <div class="container">
        <div class="section-header aos" data-aos="fade-up">
            <div class="section-sub-head">
                <span>Favourite Course</span>
                <h2>Top Category</h2>
            </div>
            <div class="all-btn all-category d-flex align-items-center">
                <a asp-action="Index" asp-controller="Category" class="btn btn-primary">All Categories</a>
            </div>
        </div>
        <div class="section-text aos" data-aos="fade-up">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean accumsan bibendum gravida maecenas augue elementum et neque. Suspendisse imperdiet.</p>
        </div>
        <div class="owl-carousel mentoring-course owl-theme aos" data-aos="fade-up">
            @foreach(Category item in Model.Categories)
            {
                <div class="feature-box text-center ">
                    <div class="feature-bg">
                        <div class="feature-header">
                            <div class="feature-icon">
                                <img src="~/assets/img/@item.ImageName" alt="image">
                            </div>
                            <div class="feature-cont">
                                <div class="feature-text">@item.Name</div>
                            </div>
                        </div>
                        <p>@item.Instructors.Count Instructors</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<section class="section new-course">
    <div class="container">
        <div class="section-header aos" data-aos="fade-up">
            <div class="section-sub-head">
                <span>What’s New</span>
                <h2>Featured Courses</h2>
            </div>
            <div class="all-btn all-category d-flex align-items-center">
                <a asp-action="Index" asp-controller="Course" class="btn btn-primary">All Courses</a>
            </div>
        </div>
        <div class="section-text aos" data-aos="fade-up">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean accumsan bibendum gravida maecenas augue elementum et neque. Suspendisse imperdiet.</p>
        </div>
        <div class="course-feature">
            <div class="row">
                @foreach(var item in Model.Courses)
                {
                    <div class="col-lg-4 col-md-6 d-flex">
                        <div class="course-box d-flex aos" data-aos="fade-up">
                            <div class="product">
                                <div class="product-img">
                                    <a asp-action="Detail" asp-controller="Course" asp-route-id="@item.Id">
                                        <img class="img-fluid" alt="image" src="~/assets/img/course/@item.ImageName">
                                    </a>
                                    <div class="price">
                                        <h3>$@item.Price <span>$99.00</span></h3>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <div class="course-group d-flex">
                                        <div class="course-group-img d-flex">
                                            <a asp-action="Index" asp-controller="Instructor"><img src="~/assets/img/user/@item.Instructor.ProfileImageName" alt="" class="img-fluid"></a>
                                            <div class="course-name">
                                                <h4><a asp-action="Index" asp-controller="Instructor">@item.Instructor.Name @item.Instructor.Surname</a></h4>
                                                <p>Instructor</p>
                                            </div>
                                        </div>
                                          <div class="course-share d-flex align-items-center justify-content-center">
                                            <a asp-action="AddWishlist" asp-controller="Course" asp-route-id="@item.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <h3 class="title instructor-text"><a asp-action="Detail" asp-controller="Course" asp-route-id="@item.Id">@item.Title</a></h3>
                                    <div class="course-info d-flex align-items-center">
                                        <div class="rating-img d-flex align-items-center">
                                            <img src="~/assets/img/icon/icon-01.svg" alt="">
                                            <p>12+ Lesson</p>
                                        </div>
                                            <div class="course-view d-flex align-items-center">
                                                 <a class="cart-icon" asp-controller="Course" asp-action="AddCart" asp-route-id="@item.Id">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </svg>
                                                </a>
                                            </div>

                                    </div>
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                                    </div>
                                    <div class="all-btn all-category d-flex align-items-center">
                                        <a asp-action="Index" asp-controller="Checkout" class="btn btn-primary">BUY NOW</a>
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>
                }
             </div>
        </div>
    </div>
</section>

<section class="section master-skill">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="section-header aos" data-aos="fade-up">
                    <div class="section-sub-head">
                        <span>What’s New</span>
                        <h2>Master the skills to drive your career</h2>
                    </div>
                </div>
                <div class="section-text aos" data-aos="fade-up">
                    <p>Get certified, master modern tech skills, and level up your career — whether you’re starting out or a seasoned pro. 95% of eLearning learners report our hands-on content directly helped their careers.</p>
                </div>
                <div class="career-group aos" data-aos="fade-up">
                    <div class="row">
                        @foreach(Master item in Model.Masters)
                        {
                            <div class="col-lg-6 col-md-6 d-flex">
                                <div class="certified-group blur-border d-flex">
                                    <div class="get-certified d-flex align-items-center">
                                        <div class="blur-box">
                                            <div class="certified-img ">
                                                 <img src="~/assets/img/icon/@item.ImageName" alt="image" class="img-fluid">
                                            </div>
                                        </div>
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 d-flex align-items-end">
                <div class="career-img aos" data-aos="fade-up">
                    <img src="~/assets/img/join.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section lead-companies">
    <div class="container">
        <div class="section-header aos aos-init aos-animate" data-aos="fade-up">
            <div class="section-sub-head feature-head text-center">
                <span>Trusted By</span>
                <h2>500+ Leading Universities And Companies</h2>
            </div>
        </div>
        <div class="lead-group aos aos-init aos-animate" data-aos="fade-up">
            <div class="lead-group-slider owl-carousel owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        @foreach (Company item in Model.Companies)
                        {
                                <div class="owl-item">
                                    <div class="item">
                                        <div class="lead-img">
                                            <img class="img-fluid" alt="" src="assets/img/@item.ImageName">
                                        </div>
                                    </div>
                                </div>
                        }
                    </div>
                </div>
                <div class="owl-nav disabled">
                    <button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
                    <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
                </div>
                <div class="owl-dots disabled">
                    <button role="button" class="owl-dot active"><span></span></button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section share-knowledge">
    <div class="container">
        <div class="row">
            @foreach(Knowledge item in Model.Knowledges)
            {
                
            <div class="col-md-6">
                <div class="knowledge-img aos" data-aos="fade-up">
                <img src="~/assets/img/@item.ImageName" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="join-mentor aos" data-aos="fade-up">
                    <h2>@item.Title</h2>
                    <p>@item.Description</p>
                    <ul class="course-list">
                        <li><i class="fa-solid fa-circle-check"></i>Best Courses</li>
                        <li><i class="fa-solid fa-circle-check"></i>Top rated Instructors</li>
                    </ul>
                    <div class="all-btn all-category d-flex align-items-center">
                        <a asp-action="List" asp-controller="Instructor" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

<section class="section user-love">
    <div class="container">
        <div class="section-header white-header aos" data-aos="fade-up">
            <div class="section-sub-head feature-head text-center">
                <span>Check out these real reviews</span>
                <h2>Users-love-us Don't take it from us.</h2>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-four">
    <div class="review">
        <div class="container">
            <div class="testi-quotes">
                <img src="~/assets/img/qute.png" alt="">
            </div>
            <div class="mentor-testimonial lazy slider aos" data-aos="fade-up" data-sizes="50vw ">
                <div class="d-flex justify-content-center">
                    <div class="testimonial-all d-flex justify-content-center">
                        <div class="testimonial-two-head text-center align-items-center d-flex">
                            @foreach(var item in Model.Comments)
                            {
                                 <div class="testimonial-four-saying ">
                                    <div class="testi-right">
                                         <img src="~/assets/img/qute-01.png" alt="">
                                    </div>
                                    <p>@item.Message</p>
                                    <div class="four-testimonial-founder">
                                        <div class="fount-about-img">
                                        <a href="instructor-profile.html"><img src="~/assets/img/user/user1.jpg" alt="" class="img-fluid"></a>
                                        </div>
                                        <h3><a href="instructor-profile.html">Daziy Millar</a></h3>
                                        <span>@item.Course.Title</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section become-instructors aos" data-aos="fade-up">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6 d-flex">
<div class="student-mentor cube-instuctor ">
<h4>Become An Instructor</h4>
<div class="row">
<div class="col-lg-7 col-md-12">
<div class="top-instructors">
<p>Top instructors from around the world teach millions of students on Mentoring.</p>
</div>
</div>
<div class="col-lg-5 col-md-12">
<div class="mentor-img">
<img class="img-fluid" alt="" src="~/assets/img/become-02.png">
</div>
</div>
</div>
</div>
</div>
<div class="col-lg-6 col-md-6 d-flex">
<div class="student-mentor yellow-mentor">
<h4>Transform Access To Education</h4>
<div class="row">
<div class="col-lg-8 col-md-12">
<div class="top-instructors">
<p>Create an account to receive our newsletter, course recommendations and promotions.</p>
</div>
</div>
 <div class="col-lg-4 col-md-12">
<div class="mentor-img">
<img class="img-fluid" alt="" src="~/assets/img/become-01.png">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<style>
    .cart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  padding:3px;
}

.cart-icon:hover {
  background-color: #e0e0e0;
}

.cart-text {
  margin-left: 8px;
}

</style>