@model CourseVM

<div class="pt-5 mt-5 main-wrapper">
    <hr />
    <div class="breadcrumb-bar">
    <div class="container">
    <div class="row">
    <div class="col-md-12 col-12">
    <div class="breadcrumb-list">
    <nav aria-label="breadcrumb" class="page-breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Courses</li>
    <li class="breadcrumb-item active" aria-current="page">All Courses</li>
    </ol>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    <section class="course-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="showing-list">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center">
                                    <div class="view-icons">
                                        <a asp-action="Grid" asp-controller="Course" class="grid-view"><i class="fas fa-th"></i></a>
                                        <a asp-action="Index" asp-controller="Course" class="list-view active"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                         </div>
                            <div class="col-lg-6">
                               <div class="show-filter add-course-info">
                                    <div class="row">
                                       <div class="col-md-8 col-lg-8 col-item">
                                            <div class="form-group select-form mb-0">
                                                <form asp-action="Index" asp-controller="Course" asp-route-categoryId="@Model.CategoryId" asp-route-order="@Model.Order" asp-route-instructorId="@Model.InstructorId">
                                                    <div class="input-group d-flex">
                                                        <div class="form-outline">
                                                            <input type="text" class="form-control" placeholder="Search our courses" name="search" value="@(Model.Search==null? "": @Model.Search)"/>
                                                        </div>
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-primary">
                                                                <i class="fas fa-search"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-lg-4 col-item">
                                            <div class="form-group select-form mb-0">
                                                <form asp-action="Index" asp-controller="Course" asp-route-categoryId="@Model.CategoryId" asp-route-serach="@Model.Search" asp-route-instructorId="@Model.InstructorId">
                                                    <select class="form-select select" name="Oredr" onchange="this.form.submit()">
                                                        <option value="">Default</option>
                                                        <option value="1">Sort By Name</option>
                                                        <option value="2">Sort By Price</option>
                                                        <option value="3">Sort By Date</option>
                                                    </select>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach(Course item in Model.Courses)
                        {
                            <div class="col-lg-12 col-md-12 d-flex">
                                <div class="course-box course-design list-course d-flex">
                                     <div class="product">
                                        <div class="product-img">
                                            <a asp-action="Detail" asp-controller="Course" asp-route-id="@item.Id">
                                                 <img class="img-fluid" alt="image" src="~/assets/img/course/@item.ImageName">
                                            </a>
                                             <div class="price">
                                                <h3>$@item.Price <span>$99.00</span></h3>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                        <div class="head-course-title">
                                            <h3 class="title"><a asp-action="Detail" asp-controller="Course" asp-route-id="@item.Id">@item.Title</a></h3>
                                        <div class="all-btn all-category d-flex align-items-center">
                                        <a asp-action="Index" asp-asp-controller="Checkout" class="btn btn-primary">BUY NOW</a>
                                        </div>
                                        </div>
                                        <div class="course-info border-bottom-0 pb-0 d-flex align-items-center">
                                            <div class="rating-img d-flex align-items-center">
                                                <img src="~/assets/img/icon/icon-01.svg" alt="">
                                                <p>12+ Lesson</p>
                                            </div>
                                              
                                        </div>
                                        <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star"></i>
                                        <span class="d-inline-block average-rating"><span>4.0</span> (15)</span>
                                        </div>
                                        <div class="course-group d-flex mb-0">
                                        <div class="course-group-img d-flex">
                                                <a asp-action="Index" asp-controller="Instructor"><img src="~/assets/img/user/@item.Instructor.ProfileImageName" alt="" class="img-fluid"></a>
                                            <div class="course-name">
                                            <h4><a asp-action="Index" asp-controller="Instructor">@item.Instructor.Name @item.Instructor.Surname</a></h4>
                                            <p>Instructor</p>
                                            </div>
                                        </div>
                                            <div class="course-share d-flex align-items-center justify-content-center">
                                                    <a asp-action="AddWishlist" asp-controller="Course" asp-route-id="@item.Id">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16 ">
                                                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                                    <div class="course-view d-flex align-items-center">
                                                     <a class="cart-icon" asp-controller="Course" asp-action="AddCart" asp-route-id="@item.Id">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                        </svg>
                                                    </a>
                                                </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <ul class="pagination lms-page">
                        <li class="page-item prev">
                        <a class="page-link" href="javascript:void(0)" tabindex="-1"><i class="fas fa-angle-left"></i></a>
                        </li>
                        <li class="page-item first-page active">
                        <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">2</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">3</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">4</a>
                        </li>
                        <li class="page-item">
                        <a class="page-link" href="javascript:void(0)">5</a>
                        </li>
                        <li class="page-item next">
                        <a class="page-link" href="javascript:void(0)"><i class="fas fa-angle-right"></i></a>
                        </li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 theiaStickySidebar">
                     <div class="filter-clear">
                        <div class="clear-filter d-flex align-items-center">
                        <h4><i class="feather-filter"></i>Filters</h4>
                        <div class="clear-text">
                        <p>CLEAR</p>
                        </div>
                        </div>
                        <div class="card search-filter categories-filter-blk">
                            <div class="card-body">
                                 <div class="filter-widget mb-0">
                                    <div class="categories-head d-flex align-items-center">
                                        <h4>Course categories</h4>
                                        <i class="fas fa-angle-down"></i>
                                    </div>
                                    <div>
                                        <label class="custom_check">
                                            <a asp-action="Index" asp-controller="Course" asp-route-order="@Model.Order" asp-route-serach="@Model.Search">
                                                <input type="checkbox" name="select_specialist" >
                                                <span class="checkmark"></span> All (@Model.Categories.Count)
                                            </a>
                                        </label>
                                    </div>
                                    @foreach(var category in Model.Categories)
                                    {
                                        <div>
                                            <label class="custom_check">
                                                <a asp-action="Index" asp-controller="Course" asp-route-categoryId="@category.Id" asp-route-order="@Model.Order" asp-route-serach="@Model.Search" asp-route-instructorId="@Model.InstructorId">
                                                    <input type="checkbox" name="select_specialist">
                                                    <span class="checkmark"></span>@category.Name (@category.Courses.Count)
                                                </a>
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card search-filter">
                            <div class="card-body">
                                <div class="filter-widget mb-0">
                                    <div class="categories-head d-flex align-items-center">
                                        <h4>Instructors</h4>
                                        <i class="fas fa-angle-down"></i>
                                    </div>
                                    @foreach(var instructor in Model.Instructors)
                                    {
                                        <div>
                                            <label class="custom_check">
                                                    <a asp-action="Index" asp-controller="Course" asp-route-instructorId="@instructor.Id" asp-route-categoryId="@Model.CategoryId" asp-route-order="@Model.Order" asp-route-serach="@Model.Search">
                                                    <input type="checkbox" name="select_specialist">
                                                    <span class="checkmark"></span>@instructor.Name @instructor.Surname (@instructor.Courses.Count)
                                                </a>
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card search-filter ">
                        <div class="card-body">
                        <div class="filter-widget mb-0">
                        <div class="categories-head d-flex align-items-center">
                        <h4>Price</h4>
                        <i class="fas fa-angle-down"></i>
                        </div>
                        <div>
                        <label class="custom_check custom_one">
                        <input type="radio" name="select_specialist">
                        <span class="checkmark"></span> All (18)
                        </label>
                        </div>
                        <div>
                        <label class="custom_check custom_one">
                        <input type="radio" name="select_specialist">
                        <span class="checkmark"></span> Free (3)
                        </label>
                        </div>
                        <div>
                        <label class="custom_check custom_one mb-0">
                        <input type="radio" name="select_specialist" checked>
                        <span class="checkmark"></span> Paid (15)
                        </label>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </section>
</div>